services:
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes --save 60 1
    volumes:
      - redis-data:/data
  redis-insight:
    image: redis/redisinsight:latest
    ports:
      - "5540:5540"
    environment:
      RI_REDIS_HOST: redis
      RI_REDIS_PORT: 6379
    depends_on:
      - redis

volumes:
  redis-data:
    driver: local
