@font-face {
  font-family: 'Levi Windows';
  src: url('/fonts/levi-windows1.woff2') format('woff2'),
       url('/fonts/levi-windows2.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Levi Windows', 'MS Sans Serif', 'Tahoma', Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;

  color: #000000;
  background-color: #1c458a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-family: 'Levi Windows', 'MS Sans Serif', 'Tahoma', Arial, sans-serif;
  cursor: url('/src/assets/cursors/default_arrow.cur'), default;
}

a, 
button, 
input[type="submit"],
input[type="button"],
input[type="reset"],
select,
[role="button"],
[tabindex]:not([tabindex="-1"]),
summary,
label,
*[onclick],
*[onmousedown],
*[onmouseup],
*:has(> img):not(body):not(html) {
  cursor: url('/src/assets/cursors/default_link.cur'), pointer !important;
}

.loading, .wait {
  cursor: url('/src/assets/cursors/default_busy.cur'), wait !important;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: url('/src/assets/cursors/default_arrow.cur'), default;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}